.home-page-root {
  width: 100%;
  height: 100%;
}
.home-page-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-page-card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.home-page-card h1 {
  color: #64ffda;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 45px;
  font-feature-settings: "palt";
  margin: -0.1em 0 0 -0.04em;
}
.home-page-card h3 {
  margin-top: 20px !important;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  font-feature-settings: "palt";
  margin: -0.1em 0 0 -0.04em;
}
.nameColour {
  color: #64ffda;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 35px;
  margin: 10px;
}
