.page-sidebar-root {
  margin-top: 30px;
}
.page-sidebar-body {
  display: flex;
  flex-direction: column;
}
.page-sidebar-title {
  color: var(--primary-color);
  font-weight: 500 !important;
  font-family: "Montserrat";
  font-size: 14px;
  margin: 5px;
}
.active-dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 5px;
}
.page-sidebar-button :hover {
  color: hsl(0, 0%, 67%);
}
.page-sidebar-button {
  color: var(--primary-color);
}
.button-appear {
  opacity: 1;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
